<html>
    <head>
        <link rel="stylesheet" href="/static/css/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <div id="app">
            {{ message }}
            <!-- <span v-if="seen">Now you see me</span> -->

            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>

            <p>{{ message }}</p>
            {{ message }}

            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
    </body>

    <script src="/static/js/index.js"></script>
</html>